<header class="bg-fgLight dark:bg-fgDark rounded-xl flex flex-col w-full shadow-lg gap-12 px-8 lg:px-12 py-8"
  role="banner">
  <div class="flex flex-row gap-8 items-start">
    <img [src]="user().profile.userAvatar" class="hidden lg:block rounded-full w-40" />
    <div class="flex flex-col gap-8 w-full">

      <!-- PROFILE HEADER -->
      <div class="flex flex-row items-start gap-8">
        <img [src]="user().profile.userAvatar" class="lg:hidden rounded-full w-40" />
        <div class="block lg:inline w-full">
          <div class="flex flex-col gap-2 items-start lg:flex-row lg:justify-between">
            <div class="flex flex-col gap-2">
              <h1 class="text-2xl">{{ user().profile.realName }}</h1>
              <span>
                <a [href]="'https://leetcode.com/u/' + user().username" target="_blank"
                  class="text-primary text-sm border-b border-transparent hover:border-primary">
                  {{'@' + user().username }}
                </a>
              </span>
            </div>
            <span class="text-textMutedLight dark:text-textMutedDark">Rank:
              {{user().profile.ranking.toLocaleString()}}
            </span>
          </div>
        </div>
      </div>

      <!-- BIO -->
      <p [ngClass]="{'text-textMutedLight dark:text-textMutedDark': !user().profile.aboutMe }">
        {{user().profile.aboutMe || 'This profile has no bio'}}
      </p>

      <!-- TOTAL PROBLEMS -->
      <div
        class="bg-bgLight p-8 dark:bg-bgDark rounded-xl grid grid-cols-2 sm:grid-cols-4 gap-4 text-textMutedLight dark:text-textMutedDark">
        @for (submit of submits(); track $index) {
        <div>
          <div [class]="submit.class">{{submit.difficulty}}</div>
          <span class="text-textLight dark:text-textDark text-lg">{{submit.count}}</span>
        </div>
        }
      </div>

      <!-- PROFILE DETAILS -->
      <div class="flex flex-col items-start lg:grid lg:grid-cols-2 gap-4 text-sm text-ellipsis">
        @for (detail of userDetails; track $index) {
        @if (detail.isLink) {
        <span>
          <a class="hover:text-primary transition" [attr.aria-label]="detail.value"
            [title]="detail.value || 'Not Available'" [href]="detail.value"
            [ngClass]="{'text-textMutedLight dark:text-textMutedDark cursor-text': !detail.value}"><i [class]="detail.icon"></i>
            {{detail.value || 'Not Available'}}</a>
        </span>
        } @else {
        <span [attr.aria-label]="detail.value" [title]="detail.value || 'Not Available'"
          [ngClass]="{'text-textMutedLight dark:text-textMutedDark': !detail.value}"><i [class]="detail.icon"></i>
          {{detail.value || 'Not Available'}}</span>
        }
        }
      </div>
    </div>
  </div>
</header>
