<!-- <select (change)="onSelectionChange($event)" class="bg-fgLight dark:bg-fgDark p-2 mb-2"> -->
<!--   @for(option of chartDisplay; track option) { -->
<!--   <option [value]="option">{{option}}</option> -->
<!--   } -->
<!-- </select> -->
<div class="flex flex-col gap-4">
  @for(options  of chartOptions(); track $index; let idx = $index) {
    <app-chart [chartOptions]="options"></app-chart>
  }
</div>
<!-- <select (change)="onSelectionChange($event)"> -->
<!--   <option value="fundamentals">Fundamentals</option> -->
<!--   <option value="advanced">Advanced</option> -->
<!-- </select> -->
