<div class="text-xs sm:text-sm p-4 bg-fgLight dark:bg-fgDark rounded-xl shadow-lg">
  <h2 class="text-lg text-textMutedLight dark:text-textMutedDark font-bold p-2"><i class="fa-solid fa-puzzle-piece"></i> Recent Problems</h2>
  <ol>
    @for (submit of recentSubmits(); track submit.id) {
    <li>
      <a [href]="'https://leetcode.com/problems/' + submit.titleSlug" target="_blank"
        class="text-textLight dark:text-textDark flex justify-between gap-2 p-4 m-2 bg-bgLight dark:bg-bgDark rounded-xl hover:shadow-sm hover:text-primary hover:dark:text-primary transition">
        <span>{{ submit.title }}</span>
        <span class="text-textMutedLight dark:text-textMutedDark">{{ submit.timestamp | timeAgo }}</span>
      </a>
    </li>
    }
  </ol>
  @if (!recentSubmits().length) {
    <span class="text-sm text-textMutedLight dark:text-textMutedDark">No data...</span>
  }
</div>
